<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.grigsby.appd</string>

  <key>ProgramArguments</key>
  <array>
    <string>{{INSTALL_DIR}}/appd</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>StandardOutPath</key>
  <string>{{HOME}}/.logs/app/appd-launchd.log</string>

  <key>StandardErrorPath</key>
  <string>{{HOME}}/.logs/app/appd-launchd.log</string>

  <key>WorkingDirectory</key>
  <string>{{HOME}}</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin:{{HOME}}/.local/bin</string>
  </dict>
</dict>
</plist>
